{% extends "auctions/layout.html" %} {% block body %}
<h2>Active Listings</h2>
{% for active_listing in active_listings %}
<div class="card">
  <div class="card-body">
    <h5 class="card-title">
      {% comment %}
      <a href="{% url 'listing' listing.id %}">{{ listing.title }}</a>
      {%endcomment%} {{ active_listing.title }}
    </h5>
    <img
      src="{{ active_listing.image }}"
      class="card-img-top embed-responsive-item"
      alt="..."
    />
    <p class="card-text">{{ active_listing.description }}</p>
    <p class="card-text">Price: ${{ active_listing.starting_bid }}</p>
    <p class="card-text">Category: {{ active_listing.category }}</p>
    <p class="card-text">Created by: {{ active_listing.owner}}</p>
  </div>
</div>
<br />
{% endfor %} {% endblock %}
