{% extends "auctions/layout.html" %} {% block body %}
<h2>Active Listings</h2>
<div class="card-deck">
  {% for active_listing in active_listings %}
  <div class="card">
    <img
      src="{{ active_listing.image }}"
      class="card-img-top"
      alt="Listing Image"
    />
    <div class="card-body">
      {% if user.is_authenticated %}
      <a href="{% url 'auctions:listing' active_listing.id %}">
        <h5 class="card-title">{{ active_listing.title }}</h5>
      </a>
      {% else %}
      <a href="{% url 'auctions:login' %}">
        <h5 class="card-title">{{ active_listing.title }}</h5>
      </a>
      {% endif %}
      <p class="card-text">{{ active_listing.description }}</p>
      <p class="card-text">
        <strong>Starting Price:</strong> ${{ active_listing.starting_bid }}
      </p>
      <p class="card-text">
        <strong>Category:</strong> {{ active_listing.category }}
      </p>
      <p class="card-text">
        <strong>Created by:</strong> {{ active_listing.owner }}
      </p>
    </div>
    <div class="card-footer">
      <small class="text-muted"
        >Max bid placed ${{ active_listing.max_bid}}</small
      >
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
